@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: ROBOTO , sans-serif;
}
	

html{ 
	font-size: 62.5%;
 }

 body{
 	background-image: url(../img/fondo.jpg);
 	background-repeat: repeat-y;
 }

main article p{
	font-size: 20px;
	line-height: 25px;
}

h1,
h3{
	font-size: 3rem;
	color: #0C0565;
}

nav{
	font-size: 50px;
	background-color: #BCF0ED;
	display: inline-block;
	margin: 0 6px;
	position: sticky;
	width: 100%;
	padding: 4px 30px;
	height: 150px;
}

nav img{
	width: 130px;
	float: left;

}

nav ul li { 
	display: inline-block;
	list-style: none;
	font-size: 20px;
	float: right;
	margin-right: 20px;
 }	

 nav ul li a {
 	text-decoration:none;
 	color:#09096F ;
 }

 main article{
 	padding: 30px 80px;

 }
 
 .textTamaño{
 	font-size: 25px;
}

 .textSuccess{
 	color: #05062A;
 }

 .textBold{
 	font-weight: 500;
 }

.textLight{
	font-weight: 300;
}

.textRegular{
	font-weight: 400;
}

.textCenter{
	text-align: center;
}


.textRight{
	text-align: right;
}


.bgDark{
	background-color: #B5D5FD;
}

.bgDarkn{
	background-color: #B7B2B2;
}

.novedades_articulos{
	width: 70%;
	height: auto;
	margin: 50px auto;
	padding: 50px 30px;
	overflow: auto;
}

.caractContac{
	font-size: 30px;
	height: auto;
	margin: 50px auto;
	width: 450px;
	text-align: center;
	padding: 50px 35px;

}

.imgRedes{
	width: 150px;
	display: inline-block;
	margin: 40px auto;
	padding: 15px 50px ;
}

.caract_img{
	width: 50%;
	padding: 30px 20px;
	margin: 50px auto;
	height: auto;	
}

.pie{
	text-align: center;
	padding: 10px 0;
}

.maps{
	padding: 30px 0;
}

.form{
	font-size: 35px;
	padding: 30px ;
	width: 28%;
	float: left;
	border-bottom:#1639AC;
	margin: 40px auto;
}


.service{
	padding: 50px 0;
	margin: 40px auto;
	width: 50%;
	font-size: 30px;
}

.float{
	float: left;
}

.floatr{
	float: right;
}


