<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MARKETINGCDELU</title>
	<link rel="shortcut icon" href="../img/faviconn.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav> 
		<a href="../index.html">
			<img src="../img/LOGO.jpg" alt="logo MARKETINGCDELU">
		</a>
		<ul>
			<li>
				<a href="../view/servicios.html">SERVICIOS</a>
			</li>
			<li>
				<a href="../view/nosotros.html">NOSOTROS</a>
			</li>
			<li>
				<a href="../index.html">HOME</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
<main>
	<form class=" form bgDarkn" action="envio.php">
		<fieldset>
			<legend>Info personal</legend>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre">
			<label for="email"> Email:  </label>
			<input type="email" id="email">
			<label for="tel"> Telefono: </label>
			<input type="numbers" name="tel">
		</fieldset>
	</form>

	<section>
		<aside class="textCenter maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3365.5513924923866!2d-58.23517054913543!3d-32.4846887809682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95afdb00ee638b01%3A0xaf496948a4cba352!2sJusto%20Jos%C3%A9%20de%20Urquiza%206%2C%20Concepci%C3%B3n%20del%20Uruguay%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses-419!2sar!4v1654034055118!5m2!1ses-419!2sar" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</aside>

		<article class="textSuccess bgDark caractContac"> 
		<i>CONTACTANOS </i>
		<br>Numero de WSP: 3442501538
		Correo electronico: MARKETINGCDELU@GMAIL.COM</article>
		<!-- ends aside-->
	</section>
</main>
<footer class="pie">
	<h3 class="textBold textCenter bgDarkn">¡Seguinos en nuestras redes!</h3>

		<a href="https://www.facebook.com" target="_blank">
			<img class="imgRedes" src="../img/facebook.png" alt= "Perfil de facebook MARKETINGCDELU">
		</a>

		<a href="https://www.instagram.com" target="_blank"></a>
			<img class="imgRedes" src="../img/instagram.jpg" alt="Perfil de instagram MARKETINGCDELU">
		</a>

</footer>
	<!-- ends footer-->
</body>
</html>