<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MARKETINGCDELU</title>
	<link rel="shortcut icon" href="../img/faviconn.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<header>
	<nav> 
		<a href="index.html">
			<img src="../img/LOGO.jpg" alt="logo MARKETINGCDELU">
		</a>
		<ul>
			<li>
				<b><a href="view/nosotros.html">NOSOTROS</a></b>
			</li>
			<li>
				<b><a href="view/servicios.html">SERVICIOS</a></b>
			</li>
			<li>
				<b><a href="view/contactanos.html">CONTACTANOS</a></b>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
</header>
<body>	
<main>
	<p ><h1 class="textCenter">MARKETING POLITICO</h1></p>
	<p class="textCenter textSuccess novedades_articulos bgDark textTamaño">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima iste aut repudiandae maxime commodi fugiat libero sunt, ratione porro vitae dolorem totam placeat minus saepe omnis quia, ipsa exercitationem eum.</p>

	<p class="textSuccess bgDark caractContac float"> 
		<i>CONTACTANOS </i>
		<br>Numero de WSP: 3442501538
		Correo electronico: MARKETINGCDELU@GMAIL.COM</p> 


	<aside class="textCenter" >
		<iframe width="900" height="600" src="https://www.youtube.com/embed/EtyNNyHgUds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</aside>
</main>
<footer class="pie">
	<h3 class="textBold textCenter bgDarkn">¡Seguinos en nuestras redes!</h3>
		<a href="https://www.facebook.com" target="_blank">
			<img class="imgRedes" src="../img/facebook.png" alt= "Perfil de facebook MARKETINGCDELU">
		</a>

		<a href="https://www.instagram.com" target="_blank"></a>
			<img class="imgRedes" src="../img/instagram.jpg" alt="Perfil de instagram MARKETINGCDELU">
		</a>

	</footer>
	<!-- ends footer-->

</body>
</html>