<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MARKETINGCDELU</title>
	<link rel="shortcut icon" href="../img/faviconn.png">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav> 
		<a href="../index.html">
			<img src="../img/LOGO.jpg" alt="logo MARKETINGCDELU">
		</a>
		<ul>
			<li>
				<a href="../view/servicios.html">SERVICIOS</a>
			</li>
			<li>
				<a href="../view/nosotros.html">NOSOTROS</a>
			</li>
			<li>
				<a href="../index.html">HOME</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->

	<header> 
		<img class="caract_img" src="../img/nosotros.jpg" alt="equipo de trabajo MARKETINGCDELU">
		<h1 class="textCenter">Nuestro equipo de profesionales</h1>
	</header>
    <!-- ends header -->

    <main>
    	<article class="textSuccess textLight bgDark novedades_articulos">
    		<p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Optio, esse! Cumque, iure nam eaque, veritatis, dolorem rem distinctio repudiandae reiciendis adipisci illo eligendi sequi dolorum natus dicta totam accusantium corrupti!</p>
    	</article>	

    	<article class="textLight textSuccess bgDark novedades_articulos">
    		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati doloremque adipisci officia molestias modi aut quos odio et ratione libero corporis ipsa beatae, quaerat dolore, non quia, pariatur dignissimos excepturi.</p>
    	</article>


    </main>
<footer class="pie">
	<h3 class="textBold textCenter bgDarkn">¡Seguinos en nuestras redes!</h3>
		<a href="https://www.facebook.com" target="_blank">
			<img class="imgRedes" src="../img/facebook.png" alt= "Perfil de facebook MARKETINGCDELU">
		</a>

		<a href="https://www.instagram.com" target="_blank"></a>
			<img class="imgRedes" src="../img/instagram.jpg" alt="Perfil de instagram MARKETINGCDELU">
		</a>

	</footer>
	<!-- ends footer-->
</body>
</html>